body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f9f9f9;
}

.hidden {
  visibility: hidden;
}

.drag-over {
  background-color: var(--primary-color);
}
