/* 顶部导航条样式 */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--bg-color);
  margin: 10px auto;
  width: 90%;
  border-radius: 0 0 10px 10px;
  font-weight: bold;
  font-size: 14px;
}

/* 显示当前用户姓名 */
#userGreeting {
  margin-right: 10px;
}

/* 退出登录按钮 */
#logoutBtn {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

#logoutBtn:hover {
  background-color: var(--primary-hover-color);
}

.app-container {
  display: flex;
  height: 85%;
  width: 90%;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.sidebar {
  background-color: #fff;
  margin-right: 10px;
  padding: 20px;
  width: 250px;
  border-radius: 20px 0 0 20px;
  flex-shrink: 0;
}

.note-list-section {
  background-color: #fff;
  padding: 20px;
  width: 250px;
  flex-shrink: 0;
}

.note-details-section {
  margin-left: 10px;
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
}

/* 父容器：标题上方布局 */
.note-details-header {
  display: flex;
  justify-content: space-between; /* 左右两部分分开 */
  align-items: center;
  margin-bottom: 8px;
}

/* 左侧时间信息 */
.note-dates {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #666;
}

.note-dates p {
  margin: 2px 0;
}

/* 右侧按钮组 */
.note-actions {
  display: flex;
  align-items: center;
  gap: 10px; /* 按钮或元素间隔 */
}

.search-bar {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
